@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

.bg-color {
  background-color: gold;
}

.text-color {
  font-family: Noto Sans JP, sans serif;
    color: black;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.btn-naked {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: inherit;
}

.btn-naked:focus {
  outline: none;
}

.grow {
    animation: grow 1s ease-in-out infinite alternate;
    -webkit-animation: grow 1s ease-in-out infinite alternate;
}

@keyframes grow {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
    }
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.play-active {
  animation: play-active 0.46975s ease-in-out infinite alternate;
    -webkit-animation: play-active 0.46975s ease-in-out infinite alternate;
}

@keyframes play-active {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}

.bounce:nth-child(1){
  animation: bounce 1600ms ease-in-out 10ms infinite;
}
.bounce:nth-child(2){
  animation: bounce 1600ms ease-in-out 400ms infinite;
}
.bounce:nth-child(3){
  animation: bounce 1600ms ease-in-out 10ms infinite;
}
@keyframes bounce {
  0%,100% {
    transform: translateY(0px);
  }
  20%,80% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
}

.fade.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1200ms;
}
.fade-appear {
  opacity: 0;
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 1200ms;
}